#indexframe { display: none; }
html {
  font-family: Fira Sans, sans, sans-serif;

}
body {
  padding: 2px;
}
code {
  font-family: "Fira Mono";
  white-space: pre-wrap;
}
a { color: black; }
a:visited { color: #333; }

pre { background-color: #eee;  max-width: 100%; }
hr { background-color: #D7DBDD; height: 1px; border: 0; }
nav {
 display: flex;
 flex-direction: column; /* flex downwards */
 justify-content: flex-start; /* collect links at the top */
 flex-shrink: 1; /* dont grow, dont shrink */
 flex-grow: 1; /* "dont grow, dont shrink */
 padding: 10px;
 border-left: 1px solid #D7DBDD;

}
article {
  flex-grow: 11;
  padding: 10px;
}
#main {
  display: flex;
  flex-flow: row;
}
@media screen and (max-width: 768px) {
  #main {
    flex-direction: column;
  }
  h1 { font-size: 5vmin; }
  h2,h3 { font-size: 4vmin; }
  nav {
    border: none;
    border-top: 1px solid #D7DBDD;
  }
}
